/Programs/waterAndComputerManufacturingWatson/nbproject/private/
/Programs/waterAndComputerManufacturingWatson/build/
/Programs/waterAndComputerManufacturingWatson/dist/
/Programs/shoppingWatson/nbproject/private/
/Programs/shoppingWatson/build/
/Programs/IncomeTaxWatson/nbproject/private/
/Programs/IncomeTaxWatson/build/
